h1,h2,h3,h4,h5,h6{font-weight:bold;font-family:'Open Sans','Helvetica Neue',Helvetica,Arial,sans-serif}a{color:#000;-webkit-transition:all .2s;-moz-transition:all .2s;transition:all .2s}a:focus,a:hover{color:#0085a1}blockquote{font-style:italic;color:#868e96}
        
        
        div.cards-top{
            margin-bottom: 5vw;
            text-align: center;
            box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0,  0.3);
        }
        .cards-top {
        padding: 6vw;
        letter-spacing: 0.9em;
        line-height: 50px;
        padding-top: 5vw;
        padding-bottom: 30px;
        padding-right: 20px;
        width: 100% ;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0,  0.3);
        background-color: white;
        border-top-left-radius: 5vw;
        border-top-right-radius: 5vw;
        margin: auto;
        }
        .t1{
            color: azure;
            width: 100%;
            font-family: verdana;
            font-weight: bolder;
            font-size: 7vw;
            text-decoration: none;
            line-height: 50px;
            text-shadow: 2px 2px 7px #111111;;
            z-index: 9999;
            
        }
        body{
            background-color: deepskyblue;
            margin: 0;
            letter-spacing: 0.15em;


        }
        .jumbotron{
            margin: auto;
            background-color: blue ;
            padding-bottom: 0;
            border-radius: 0;
        }
        
        .shadow{
            -moz-box-shadow: 0 0 10px #777777;
            -webkit-box-shadow: 0 0 10px #777777;
            box-shadow: 0 0 10px #777777;
        }
        
     
      ul {
        margin: auto;
        width: 70%;
        background-color :white;
        padding: 4vw;
        margin: 0px auto 0px auto;
        margin-bottom: 6vw;
        text-align: center;
        -moz-box-shadow: inset 0 0 20px #777777;
        -webkit-box-shadow: inset 0 0 20px #777777;
        box-shadow: inset 0 0 12px #777777;
        list-style: none;
        }
            
       li {
        display: inline-block;
        margin: 0 3vw;
        font-family: arial ;
        font-weight: bold;
        font-size: 1rem;
          }
          
        a{
            color: #000000; 
            text-transform: uppercase; 
            text-decoration: none; 
            padding: 1vw;
            margin: auto;
            

            
        }
        a:hover{
                    text-decoration: none;
                    color: #000;
                    background-color: #d3d3d3;
        }
        
        .toc{
            margin: auto;
            box-shadow: 2px 4px 10px 0 rgba(0, 0, 0, 0.3), 0 6px 20px 0 rgba(0, 0, 0,  0.2);
            padding: 6vw;
            text-align: center;
            background-color: snow;
        }
        
        .cards-toc {
        padding: 4vw;
        margin: auto;
        margin-top: 20px;
        letter-spacing: 0em;
        line-height: normal;
        padding-top: 27px;
        padding-bottom: 10px;
        padding-right: 20px;
        width: 100% ;
        -moz-box-shadow: inset 0 0 10px #777777;
        -webkit-box-shadow: inset 0 0 10px #777777;
        box-shadow: inset 0 0 10px #777777;
        background-color: blue;
        font-family: monaco;
        margin-bottom: 30px;
        max-width: 80%;    
        color: white;}
        
        .half{
        
        margin: auto;
        box-shadow: 3px 2px 3px 0 rgba(0, 0, 0, 0.1), 0 3px 2px 0 rgba(0, 0, 0,  0.1);
        margin-bottom: 1vw;
        padding: 0.5vw;
        font-family: pt mono;
        background-color: white;
        border:1px solid black;
        font-weight: bolder;
           
        }
        
        .half a:hover {
                    text-decoration: none;
                    color: #000;
                    padding: 0;
                    background-color: transparent;
            
            
        }
        
        .color1{
            background-color: white;
                }
        
        .half:hover {
                    text-decoration: none;
                    color: #000;
                    background-color: #d3d3d3;
                    cursor: pointer;
            
            
        }
        
        .bottom p{
            color: black;
            font-family: verdana;
            letter-spacing: 0.2em;
            margin:auto;
            margin-top: 30px;
            margin-bottom: 30px;
            text-align: center;
            background-color: antiquewhite;
            padding-bottom: 30px;
            width: 100%;
            height: auto;
            font-size: 20px;
            box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0,  0.3);
            
        }
        
.full {
        font-family: copperplate;
        font-weight: bold;
        text-align: left;;
        letter-spacing: -0.1em;
        margin: auto;
        margin-bottom: 2vw;
        padding: 0.5vw;
        font-weight: bolder;
}

.full:hover{
    background-color: transparent;
    cursor: default;
}