h1,h2,h3,h4,h5,h6{font-weight:bold;font-family:'Open Sans','Helvetica Neue',Helvetica,Arial,sans-serif}a{color:#000;-webkit-transition:all .2s;-moz-transition:all .2s;transition:all .2s}a:focus,a:hover{color:#0085a1}blockquote{font-style:italic;color:#868e96}
        
        
        div.cards-top{
            margin-bottom: 0;
            margin-top: 20px;
            text-align: center;
            box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0,  0.3);
        }
        .cards-top {
        padding: 4vw;
        letter-spacing: 0.9em;
        line-height: 4vw;
        padding-top: 5vw;
        padding-bottom: 4vw;
        padding-right: 30px;
        width: 100% ;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0,  0.3);
        background-color: antiquewhite;
        border-top-left-radius: 5vw;
        border-top-right-radius: 5vw;
        margin: auto;
        margin-bottom: 0;
        }
        .t1{
            color: Black;
            width: auto ;
            text-align: center;
            font-family: luminari;
            font-weight: bolder;
            font-size: 4vw;
            line-height: normal;
            z-index: 9999;
            margin: auto;
        }
        body{
            padding: 2vw;
            background-color: white;
            margin: 0;
            letter-spacing: 0.15em;
            background:blue;
        background:linear-gradient(top, #fb0, #f50);
        background:-moz-linear-gradient(top, #A78EFF, white);
        background:-webkit-linear-gradient(top, #A78EFF, white);
        background:-o-linear-gradient(top, #A78EFF, white);
        background:-ms-linear-gradient(top, #A78EFF, white);


        }
        .jumbotron{
            margin: auto;
            background-color: blue ;
            padding-bottom: 0;
            border-radius: 0;
        }
        
        .shadow{
            -moz-box-shadow: 0 0 10px #777777;
            -webkit-box-shadow: 0 0 10px #777777;
            box-shadow: 0 0 10px #777777;
        }
        
     
     
        
        .toc{
            margin: auto;
            box-shadow: 2px 4px 10px 0 rgba(0, 0, 0, 0.3), 0 6px 20px 0 rgba(0, 0, 0,  0.2);
            padding: 6vw;
            text-align: center;
            background-color: snow;
        }
        
        .cards-toc {
        padding: 4vw;
        margin: auto;
        margin-top: 20px;
        letter-spacing: 0em;
        line-height: normal;
        padding-top: 27px;
        padding-bottom: 10px;
        padding-right: 20px;
        width: 100% ;
        -moz-box-shadow: inset 0 0 10px #777777;
        -webkit-box-shadow: inset 0 0 10px #777777;
        box-shadow: inset 0 0 10px #777777;
        background-color: blue;
        font-family: monaco;
        margin-bottom: 30px;
        max-width: 80%;    
        color: white;}
        
        .post{
        
        margin: auto;
        box-shadow: 3px 2px 10px 0 rgba(0, 0, 0, 0.4), 0 6px 20px 0 rgba(0, 0, 0,  0.3);
        margin-bottom: 1vw;
        font-family: hoefler;
        background-color: white;
        font-weight: normal;
        padding: 5vw;
        margin-top: 20px;
           
        }
        
        .post a:hover {
                    text-decoration: none;
                    color: #000;
                    padding: 0;
                    background-color: transparent;
            
            
        }
        
        .color1{
            background-color: white;
                }
        
        .post:hover {
                    text-decoration: none;
                    color: #000;
                    background-color: #d3d3d3;
                    cursor: pointer;
            
        }
        
        .bottom p{
            color: black;
            font-family: verdana;
            letter-spacing: 0.2em;
            margin:auto;
            margin-top: 30px;
            margin-bottom: 30px;
            text-align: center;
            background-color: antiquewhite;
            padding-bottom: 30px;
            width: 100%;
            height: auto;
            font-size: 20px;
            box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0,  0.3);
            
        }


.decor{
    
    margin: 2vw;
    padding: 2vw;
    border: 2px solid black;
}

.full{
    font-family: tahoma;
    font-weight: bolder;
    font-size: 15px;
}

.one{
    text-align: center;
    padding: 1vw;
    padding-top: 1.5vw;
    background-color: white;
    color:red;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 2px 0 rgba(0, 0, 0,  0.3);
    width: 100%;
    border-top-right-radius: 5vw;
    border-bottom-left-radius: 5vw;
}

.one a{
    text-decoration: none;
    font-size: 3vw;

}
        
.nav{
    margin: auto;
    margin-top: 2px;
    padding-left: 10px;
    padding-bottom: 10px;
    padding-right: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0,  0.3);
    background-color: white;
    width: 24vw;
    position: fixed;
    z-index: 99;
    top: 2px;
    left: 0vw;
    font-size: small;
    border-bottom-right-radius: 5vw;
    border-top-right-radius: 5vw;
    word-spacing: 0.1px;
    
}

.nav:fullscreen{
    
    top: 2vw;
}

.bottom a{
    text-decoration: none;
}



.half a{
    text-decoration: none;
    margin:auto;
    margin-top: 10px;;
    font-family: Avenir Next Condensed Bold;
    
}
.half a:hover{
    font-size: 110%;
    color: blue;
}



.change_page{
    padding: 8vw;
    text-align: center;
    display: block ;
    
}






